<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h5 class="header center orange-text">Checkout your items from cart</h5>
        <div class="row center">
            <br>
            <br>
            <ul>
                <li *ngFor="let product of selectedProducts">
                    {{ product.name }}
                </li>
            </ul>
            <!--<ul class="collection with-header">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s3 m3">
                            <img src="../../../images/ata.jpg" />
                            <p>Aashirvaad Atta - Whole Weat</p>
                            <strong>MRP: <strike>Rs. 400</strike> Rs. 322</strong>
                        </div>
                        <div class="input-field col s2 m2">
                            <p>Quantity:</p>
                            <input style="width:40px" type="number" placeholder="1" value="1" min="1" max="10" #quantity1>
                        </div>
                        <div class="col s3 m2">
                            <p>Frequency:</p>
                            <div class="input-field col s12">
                                <select>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="quaterly">Quarterly</option>
                                    <option value="halfYearly">Half Yearly</option>
                                 </select>
                            </div>
                        </div>
                        <div class="col s3 m2">
                            <p>Delivery Date:</p>
                            <div class="input-field col s12">
                                <select>
                                    <option value="1">1st Day</option>
                                    <option value="3">3rd Day</option>
                                    <option value="5">5th Day</option>
                                    <option value="28">28th Day</option>
                                 </select>
                            </div>
                        </div>
                        <div class="col s3 m3">
                            <br><br>
                            <button class="waves-effect waves-light btn orange" (click)="removeItem()">
                                <i class="material-icons left">delete</i>
                               Remove Item
                            </button>
                        </div>
                    </div>
                </li>
            </ul>-->
        </div>
    </div>
</div>