<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h5 class="header center orange-text">Hi {{user?.id}}</h5>
        <h6 class="header center orange-text">Add items in your cart</h6>
        <div class="row center">
            <br>
            <br>
            <ul>
                <li class="collection-header">
                    <h4>Products</h4>
                </li>
                <li class="collection-item" *ngFor="let product of allProducts">
                    <div class="row">
                        <div class="col s6 m6">
                            <img [src]="product.imageUrl" />
                            <p>{{product.name}}</p>
                            <strong>MRP: <strike>Rs. {{product.mrp}}</strike> Rs. {{product.price}}</strong>
                        </div>
                        <div class="col s6 m6">
                            <p>Free home delivery.</p>
                            <p>Qty:</p>
                            <input style="width:30px" type="number" placeholder="1" value="1" min="1" max="10" [(ngModel)]="product.quantity">
                            <br>
                            <button class="btn-large waves-effect waves-light orange" (click)="addToCart(product)">Add to cart</button>
                        </div>
                    </div>
                </li>
                <li class="collection-header">
                    <button class="btn-large waves-effect waves-light orange" (click)="checkOut()">Checkout Cart</button>
                </li>
                
            </ul>
            <!--<ul class="collection with-header">
                <li class="collection-header">
                    <h4>Products</h4>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m6">
                            <img src="../../../images/ata.jpg" />
                            <p>Aashirvaad Atta - Whole Weat</p>
                            <strong>MRP: <strike>Rs. 400</strike> Rs. 322</strong>
                        </div>
                        <div class="col s6 m6">
                            <p>Free home delivery.</p>
                            <p>Qty:</p>
                            <input style="width:30px" type="number" placeholder="1" value="1" min="1" max="10" #quantity1>
                            <br>
                            <button class="btn-large waves-effect waves-light orange" (click)="addToCart('Aashirvaad Atta - Whole Weat', 322, quantity1.value)">Add to cart</button>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m6">
                            <img src="../../../images/almonds.jpg" />
                            <p>BB Royal - Almond/Badam California</p>
                            <strong>MRP: <strike>Rs. 700</strike> Rs. 605</strong>
                        </div>
                        <div class="col s6 m6">
                            <p>Free home delivery.</p>
                            <p>Qty:</p>
                            <input style="width:30px" type="number" placeholder="1" value="1" min="1" max="10" #quantity2>
                            <br>
                            <button class="btn-large waves-effect waves-light orange" (click)="addToCart('BB Royal - Almond/Badam California', 605, quantity2.value)">Add to cart</button>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m6">
                            <img src="../../../images/oil.jpg" />
                            <p>Fortune - Sunflower Refined Oil</p>
                            <strong>MRP: <strike>Rs. 600</strike> Rs. 469</strong>
                        </div>
                        <div class="col s6 m6">
                            <p>Free home delivery.</p>
                            <p>Qty:</p>
                            <input style="width:30px" type="number" placeholder="1" value="1" min="1" max="10" #quantity3>
                            <br>
                            <button class="btn-large waves-effect waves-light orange" (click)="addToCart('Fortune - Sunflower Refined Oil', 469, quantity3.value)">Add to cart</button>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6 m6">
                            <img src="../../../images/rice.jpg" />
                            <p>Sona Masoori Raw Rice</p>
                            <strong>MRP: <strike>Rs. 555</strike> Rs. 466</strong>
                        </div>
                        <div class="col s6 m6">
                            <p>Free home delivery.</p>
                            <p>Qty:</p>
                            <input style="width:30px" type="number" placeholder="1" value="1" min="1" max="10" #quantity4>
                            <br>
                            <button class="btn-large waves-effect waves-light orange" (click)="addToCart('lenovo', 21999, quantity4.value)">Add to cart</button>
                        </div>
                    </div>
                </li>
                <li class="collection-header">
                    <button class="btn-large waves-effect waves-light orange" (click)="checkOut()">Checkout Cart</button>
                </li>
            </ul>-->
        </div>
    </div>
</div>